<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  
  <display-name>Assignment2 - The Mammoth Address Book!</display-name>
  
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  
  <servlet>
    <servlet-name>ControllerServlet</servlet-name>
    <servlet-class>a00222500.assmt2.servlet.ControllerServlet</servlet-class>
    <init-param>
      <param-name>url</param-name>
      <param-value>jdbc:sqlserver://Beangrinder.bcit.ca</param-value>
    </init-param>
    <init-param>
      <param-name>driver</param-name>
      <param-value>com.microsoft.sqlserver.jdbc.SQLServerDriver</param-value>
    </init-param>
    <init-param>
      <param-name>dbname</param-name>
      <param-value>jspweb</param-value>
    </init-param>
    <init-param>
      <param-name>username</param-name>
      <param-value>javastudent</param-value>
    </init-param>
    <init-param>
      <param-name>password</param-name>
      <param-value>compjava</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>ControllerServlet</servlet-name>
    <url-pattern>/query_database</url-pattern>
  </servlet-mapping>
  
  <login-config>
    	<auth-method>FORM</auth-method>
    	<form-login-config>
      		<form-login-page>/login.jsp</form-login-page>
      		<form-error-page>/login-error.jsp</form-error-page>
    	</form-login-config>
  	</login-config>
  	
  	<security-role>
  		<role-name>user</role-name>
  	</security-role>
  	<security-role>
    	<role-name>admin</role-name>
  	</security-role>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>User</web-resource-name>
      <url-pattern>/WEB-INF/jsp-user/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Start</web-resource-name>
      <url-pattern>/start.jsp</url-pattern>
    </web-resource-collection>
    <auth-constraint>
      <role-name>user</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>Admin</web-resource-name>
      <url-pattern>/WEB-INF/jsp-admin/*</url-pattern>
    </web-resource-collection>
    <auth-constraint>
    	<role-name>user</role-name>
      <role-name>admin</role-name>
    </auth-constraint>
  </security-constraint>
  
  <servlet>
    <servlet-name>Logout</servlet-name>
    <servlet-class>a00222500.assmt2.logout.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Logout</servlet-name>
    <url-pattern>/logout</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>Translate</servlet-name>
    <servlet-class>a00222500.assmt2.intl.TranslateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Translate</servlet-name>
    <url-pattern>/translate</url-pattern>
  </servlet-mapping>
  
  <servlet>
    <servlet-name>NoInvoker</servlet-name>
    <servlet-class>a00222500.assmt2.servlet.NoInvokerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NoInvoker</servlet-name>
    <url-pattern>/servlet/*</url-pattern>
  </servlet-mapping>
</web-app>